<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninefives.driverhere">

    <uses-permission-sdk-23 android:name = "android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application

        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/hand"
        android:label="기사님 요기요"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyARBV8dmBy8EVM9b9VVOtUA6HybPkjM-DM" >
        </meta-data>

        <activity android:name=".MainActivity"/>


        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".bus_search.route_search.BusRouteSearch"/>
        <activity android:name=".bus_search.search_result.BusRouteResult"/>

        <activity android:name=".station_search.station_search.BusStationSearch"/>
        <activity android:name=".station_search.station_pass_bus.StationPassBus"/>

        <activity android:name=".Aroundcheck"/>

        <activity android:name=".AlarmSend"/>
        <activity android:name=".AlarmResult"/>

        <activity android:name=".BusLocate"/>
        <activity android:name=".BusArrive"/>

        <activity android:name=".around_search.AroundBusStationSearch"/>

        <activity android:name=".AlarmSelect"/>
        <activity android:name=".AlarmReserve"/>
        <activity android:name=".ReserveResult"/>

        <activity android:name=".MapSearch"/>

        <activity android:name=".RideInHelp"/>
        <activity android:name=".RideOutHelp"/>
        <activity android:name=".RideOutHelpAlarm"/>

        <activity android:name=".DEV.DEV_AlarmSend"/>
        <activity android:name=".DEV.DEV_AlarmControl"/>
    </application>
    <uses-permission android:name = "android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


</manifest>